.highlight {
    background-color: yellow; /* or any highlight color */
  }
.token-icon {

    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
}
.token-list{
    font-size: 1.5rem;
}
